<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-1 col-lg-4 col-lg-offset-2 ">
      <form role="form" method="POST" action="/generate-pdf-id" id="registro">
        <div id="form-groups" class="panel panel-default">
          <div class="panel-heading"><b>El usuario se encuentra en la base de datos</b></div>
          <div class="panel-body" >
            <div class="form-group">
              <label>Se침or<%person.name == 'F' ? 'a': ''%></label>
              <input class="form-control" value="<%= person.name%>" required="required" readonly>
            </div>
            <div class="form-group">
              <label>Cedula</label>
              <input name="cc" class="form-control" value=<%= person.cc%> required="required" readonly>
            </div>
            <div class="form-group">
              <label>Ciudad de Expedici칩n</label>
              <input class="form-control" value="<%= person.cc_exp%>" required="required" readonly>
            </div>
            <div class="form-group">
              <label>Telefono Fijo</label>
              <input class="form-control" value=<%= person.tel%> required="required" readonly>
            </div>
            <div class="form-group">
              <label>Telefono Movil</label>
              <input class="form-control" value=<%= person.cel%> required="required" readonly>
            </div>
            <div class="form-group">
              <label>Tiempo(a침os)</label>
              <input class="form-control" value=<%= person.time_live%> required="required" readonly>
            </div>
            <div class="form-group">
              <label>Direcci칩n</label>
              <input class="form-control" value="<%= person.dir%>" required="required" readonly>
            </div>
          </div>
          <button type = "submit" class="btn btn-success" id="saved-generate">Generar</button>
          <hr>
        </div>
      </form>
      <a href="#"><h5>Hay un error?</h5></a>
    </div>
  </div>
</div>
